@import "tailwindcss";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  @apply dark:text-cyan-300 text-cyan-700 hover:bg-cyan-100 hover:dark:bg-cyan-800;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}